.parent{
    height: 400px;
    width: 400px;
    background-color: blue;
}
@media(max-width:600px){
    .parent{
        height: 100px;
        width: 100px;
        background-color: red;
    }

}