button{
    background-color: aqua;
    color: red;
    transition: all ease-in 3s;
}
body{
    background-color: black;
    color: white;
}
button:hover{
    background-color: pink;
}
input:focus{
    color: purple;
}
li::after{
    content:">";
}
button:active{
    color: yellow;
}
.box{
    height: 150px;
    width: 100px;
    background-color: red;

}
.box:hover{
    transform: scale(1.5);
    transform: skew(10deg,20deg);
}
